* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
}

#header {
	background-color: rgb(129, 160, 182);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 30%;
	align-items: center;
	flex: 1;
}

#navSearchContainer {
	padding-right: 2rem;
	padding-left: 2rem;
	display: flex;
	flex-flow: row nowrap;
	gap: 150px;
}

#header div input {
	width: 300px;
	height: 25px;
	border-radius: 100px;
	padding: 0.8rem;
	font-size: 1.2rem;
	border: 3px solid black;
}

#mainContent {
	background-color: rgb(22, 58, 77);
	display: flex;
	flex-flow: column nowrap;
	padding: 1rem;
	flex: 1;
}

.contentContainer {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 5%;
	padding-top: 5%;
	gap: 20px;
}

.contentImgContainer {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentImgContainer img {
	box-shadow: -1px 2px 5px 2px #000;
}

.contentDescContainer {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 1rem;
}

.contentDescContainer h1 {
	color: #fff;
	text-align: center;
}

.contentDescContainer p {
	font-size: 1.4rem;
	width: 85%;
	color: rgb(50, 113, 135);
}

.contentDescContainer button {
	border: none;
	font-size: 1.2rem;
	height: 50px;
	width: 250px;
	color: #fff;
	border-radius: 40px;
	background-color: rgb(57, 127, 150);
}

#footer {
	background-color: rgb(57, 127, 150);
	flex: 1;
	display: flex;
	padding: 2rem;
}

#footer div {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: #fff;
}


#footer div p {
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}

#footer div ul {
	list-style-type: none;
}

#footer div ul li {
	padding-bottom: 10px;
	text-align: center;
}

#footer div ul a {
	text-decoration: none;
	color: #fff;
}